#andreea {
  background-color: transparent;
  border-color: transparent;
  border-style: dotted;
  display: inline;
}
#sezgin {
  background-color: white;
  border-color: rgb(93, 0, 255);
  border-style: dotted;
  border-style: double;
  display: inline;
  color: black;
  height: 150px;
  resize: none;
}
#myInput {
  background-image: url('img/searchicon.png'); /* Add a search icon to input */
  background-size: contain;
  background-position: left; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 150%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #656060; /* Add a grey border */
  margin-bottom: 12px ; /* Add some space below the input */
  margin-top: 18px ;
}




 #comanda-acum {
  background-size: contain;
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 0px 0px 0px 0px; /* Add some padding */
  border: 1px solid rgb(0, 0, 0); /* Add a grey border */
  margin-bottom: 0px; /* Add some space below the input */
}
#col1 {
  padding: 10px 10px 10px 10px;
width: 33% ;
  
  
}
#col2 {
  padding: 10px 10px 10px 10px;
width: 33%;
}
#col3 {
  padding: 10px 10px 10px 10px;
width: 33% ;
  
}
#carousel1 {
  border: 1px solid rgb(0, 0, 0);
  width: 2000px ;
  height: 500px ;
  margin-left: -320px ;
  overflow: hidden;

  
}

.image-container1 {
  border: 1px solid;
  margin-left: -20%;
  margin-right: 20%;
  position: relative;
  width: 400px; /* adjust as necessary */
  height: 400px; /* adjust as necessary */
  overflow: hidden;
}
.image-container2 {
  border: 1px solid;
  margin-left: -5% ;
  position: relative ;
  width: 400px; /* adjust as necessary */
  height: 400px; /* adjust as necessary */
  overflow: hidden;
}
.image-container3 {
  border: 1px solid;
  margin-left: 8%;
  position: relative;
  width: 400px; /* adjust as necessary */
  height: 400px; /* adjust as necessary */
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.image:hover {
   transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}




.text {
  position: absolute;
  top:70%; /* adjust as necessary */
  left: 30%; /* adjust as necessary */
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.comanda-acum {
  position: absolute;
  top:80%; /* adjust as necessary */
  left:20%; /* adjust as necessary */
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
.carouselImage {
  display: block;
  width: 2000px ;
  height: 500px ;
  overflow: hidden;
}

.carouselConteiner {
  position: relative; /* set the parent container to relative positioning */
}




.custom-dots-container {
  position: absolute;
  bottom: 20px;
  left: 110%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.custom-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 5px;
  cursor: pointer;
}

.custom-dot.active {
  background-color: #000;
}


#categories {
  margin-right: 40px;
  font-size: 30px;
  font-family: 'Roboto Condensed',sans-serif ; 
  color: #333;
  font-style: thin;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;


}

#man-clothes {
  margin-right: 40px;
  font-size: 30px;
  font-family: 'Roboto Condensed',sans-serif ; 
  color: #333;
  font-style: thin;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
}

#woman-clothes {
  margin-right: 40px;
  font-size: 30px;
  font-family: 'Roboto Condensed',sans-serif ; 
  color: #333;
  font-style: thin;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-item {
  margin-right: 40px;
  font-size: 25px;
  font-family: 'Roboto Condensed',sans-serif ; 
  color: #333;
  font-style: thin;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;

}
.dropdown-toggle::before {
  float: right;
  content: "\f13a"; /* replace with your custom icon code */
  font-family: "Font Awesome 5 Free"; /* replace with your custom font name */
  font-weight: 600; /* replace with your custom font weight */
  margin-left: 15px; /* adjust as needed */

}



.dropdown-toggle::after {

  display:none;

}

.mainHeaderRow {
  margin-left: -20%;
  height: 130px;
}

.mainLogo {
  width: 300px;
  height: 200px;
}

.navbarRow {
  margin-left: 10%;
}

.emrNavbar {
  background-color: white;
}