#andreea {
  background-color: transparent;
  border-color: transparent;
  border-style: dotted;
  display: inline;
}
#sezgin {
  background-color: white;
  border-color: rgb(93, 0, 255);
  border-style: dotted;
  border-style: double;
  display: inline;
  color: black;
  height: 150px;
  resize: none;
}
#myInput {
  background-image: url('img/searchicon.png'); /* Add a search icon to input */
  background-size: contain;
  background-position: left; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 150%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.dropdown {
  display: none;
 }

 #comanda-acum {
  background-size: contain;
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 0px 0px 0px 0px; /* Add some padding */
  border: 1px solid rgb(0, 0, 0); /* Add a grey border */
  margin-bottom: 0px; /* Add some space below the input */
}
#col1 {
  padding: 20px 20px 20px 20px; /* Add some padding */
  
}
#carousel1 {
  border: 1px solid rgb(0, 0, 0);
  
}